<div class="card" >
  <div class="row">
    <div class="col-4">
      <img class="card-img-top" src="./assets/images/5.jpg" alt="Card image cap">
    </div>
    <div class="col-8">
      
  <div class="card-body">
    <p class="card-title">{{ parking.address != null ? parking.address : 'ADDRESS NOT FOUND' }} </p>
    <p class="card-text">Score: {{ parking.score != null ? parking.score : 0 }} </p>
    <p class="card-text">Type: {{ parking.type != null ? parking.type : 'TYPE NOT FOUND' }} </p>
    <p class="card-text">Price: {{ parking.price != null ? parking.price : 'PRICE NOT FOUND' }} </p>
    <p class="card-text">Description: {{ parking.description != null ? parking.description : 'DESCRIPTION NOT FOUND' }} </p>
    </div>
  </div>
  </div>
  <div class="card-footer align-content-end">
    <div class="row">
      <div class="offset-9 col-3">
        <button class="btn btn-danger m-2" (click)="deleteParking(id)" >Delete</button>
        <button class="btn btn-secondary m-2" (click)="updateParking()" >Update</button>
        <button class="btn btn-primary m-2" (click)="seeAllInfo()" > See more info</button>
      </div>
    </div>
  </div>
</div>