
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div>   
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Filters</span>
            </button>
        </div>

        <div>
            <label  class="form-label" for="">Entry Date: </label>
            <input class="form-control" type="date" name="entry" [formControl]="entry" id="entry">
        </div>
        <div>
            <label  class="form-label" for="">Exit Date: </label>
            <input class="form-control" type="date" name="exit" [formControl]="exit" id="exit">
        </div>

        <div >
            <button type="button" class="btn btn-primary" (click)="quote()">
                Quote
            </button>
        </div>

        <div class="form-check form-switch">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
                Create new parking
            </button>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="createModalLabel">Create new parking</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <label  class="form-label" for="">Address: </label>
                <input class="form-control" type="text" name="address" [formControl]="address" id="address">
            </div>
            <div>
                <label  class="form-label" for="">Ammenities: </label>
                <select class="form-control" name="amenities" multiple id="amenities" [formControl]="amenities">
                    <option selected>Open this select amenities</option>
                    <option value="Surveillance Cam">Surveillance Cam</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Private Parking Lot">Private Parking Lot</option>
                    <option value="Parking With Ceiling">Parking With Ceiling</option>
                    <option value="Ground Floor">Ground Floor</option>
                    <option value="Battery-shaped places">Battery-shaped places</option>
                </select>
            </div>
            <div>
                <label  class="form-label" for="">Score: </label>
                <input class="form-control" type="number" min="0" max="5" name="score" [formControl]="score" id="score">
            </div>
            <div>
                <label  class="form-label" for="">Price: </label>
                <input class="form-control" type="number" name="price" [formControl]="price" id="price">
            </div>
            <div>
                <label  class="form-label" for="">Type: </label>
                <select class="form-control" name="type" id="type" [formControl]="type">
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
                </select>
            </div>
            <div>
                <label  class="form-label" for="">Images: </label>
                <input class="form-control" type="file" multiple name="images" [formControl]="images" id="images">
            </div>
            <div>
                <label  class="form-label" for="">Description: </label>
                <textarea class="form-control" type="text" name="description" [formControl]="description" id="description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveParking()">Save changes</button>
        </div>
        </div>
    </div>
</div>