<header>
    <nav class="navbar navbar-light bg-light pt-2">
        <span class="navbar-brand mb-0 h1">Parkings</span>
    </nav>
</header>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Parking Dasboard</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <div class="type">
                    <h5>Type</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [formControl]="type" (click)="changeRadioButtons(0)" value="Public" name="type_public" id="type_public">
                    <label class="form-check-label" for="type_public" >Public</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [formControl]="type" (click)="changeRadioButtons(1)"  value="Private" name="type_private" id="type_private">
                    <label class="form-check-label" for="type_private">Private</label>
                </div>
                </div>
            </li>
            <li class="active">
                <div class="type">
                    <h5>Amenities</h5>
                    <div class="custom-control custom-checkbox">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  [formControl]="surv_cam" value="Surveillance Camera" name="surv_cam" id="surv_cam">
                                <label class="form-check-label" for="surv_cam"> Surveillance Camera </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="apartment" value="Apartment" name="apartment" id="apartment">
                                <label class="form-check-label" for="apartment"> Apartment </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="private_parking" value="Private Parking Lot" name="private_parking" id="private_parking">
                                <label class="form-check-label" for="private_parking"> Private Parking Lot </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="parking_ceiling" value="Parking With Ceiling" name="parking_ceiling" id="parking_ceiling">
                                <label class="form-check-label" for="parking_ceiling"> Parking With Ceiling </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="ground_floor" value="Ground Floor" name="ground_floor" id="ground_floor">
                                <label class="form-check-label" for="ground floor"> Ground Floor </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="battery" value="Battery-shaped places" name="battery" id="battery">
                                <label class="form-check-label" for="battery"> Battery-shaped places </label>
                            </div>
                    </div>
                </div>
            </li>
            <li class="active">
                <div class="type">
                    <h5>Price</h5>
                    <div class="row">
                        <div class="col-5">
                            <div class="input-group input-group-sm ">
                                <input type="number" id="min_cost" name="min_cost" value="" class="form-control" [formControl]="min_cost" placeholder="Min $" aria-label="Min $" aria-describedby="basic-addon1" min="0">
                            </div>
                        </div>
                        <div class="col-1"> - </div>
                        <div class="col-5">
                            <div class="input-group input-group-sm ">
                                <input type="number" id="max_cost" name="max_cost" value="" class="form-control"  [formControl]="max_cost"placeholder="Max $" aria-label="Max $" aria-describedby="basic-addon1" min="0">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <hr>
            <div *ngIf="aux_filters == 0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <li class="active" >
                    <div class="type">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary w-75" (click)="fileteredParkings()">Apply filters</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ng-template>
            <ng-template #elseBlock>
                <li class="active">
                    <div class="type">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary w-75 btn-sm" (click)="fileteredParkings()">Apply filters</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-danger w-75 btn-sm" (click)="getParking()">Delete filters</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ng-template>            
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <app-nav (monthDifference)="calculatePriceTotal($event)" ></app-nav>
        <div class="parkingsGrid">
            <app-parking (parkingId)="onShowDetail($event)" [months]="months" class="parking" *ngFor="let parking of parkings; let i = index" [parking]="parking" [id]="i" ></app-parking>
        </div>
        <div class="parkingsGrid" *ngIf="aux_filters == 2">
            <app-not-found></app-not-found>
        </div>
</div>


<div class="parking-detail" [class.active]="showParkingDetail">
    <div *ngIf="showParkingDetail"> 
        <button class="btn-close" (click)="toggleParkingDetail()"></button>
        <h1>Parking {{parkingId + 1}} </h1>
        <div class="modal-body">
          <div>
             <label  class="form-label" for="">Address: </label>
              <input class="form-control" type="text" name="address" [formControl]="address" id="address">
          </div>
          <div>
              <label  class="form-label" for="">Ammenities: </label>
              <select class="form-control" name="amenities" multiple id="amenities" [formControl]="amenities">
                  <option selected>Open this select amenities</option>
                  <option value="Surveillance Cam">Surveillance Cam</option>
                  <option value="Apartment">Apartment</option>
                  <option value="Private Parking Lot">Private Parking Lot</option>
                  <option value="Parking With Ceiling">Parking With Ceiling</option>
                  <option value="Ground Floor">Ground Floor</option>
                  <option value="Battery-shaped places">Battery-shaped places</option>
              </select>
          </div>
          <div>
              <label  class="form-label" for="">Score: </label>
              <input class="form-control" type="number" min="0" max="5" name="score" [formControl]="score" id="score">
          </div>
          <div>
              <label  class="form-label" for="">Price: </label>
              <input class="form-control" type="number" name="price" [formControl]="price" id="price">
          </div>
          <div>
              <label  class="form-label" for="">Type: </label>
              <select class="form-control" name="inType" id="inType" [formControl]="inType">
                  <option value="Public">Public</option>
                  <option value="Private">Private</option>
              </select>
          </div>
          <div>
              <label  class="form-label" for="">Images: </label>
              <!-- <input class="form-control" type="file" multiple name="images" [formControl]="images" id="images"> -->
                <input class="form-control" type="text" name="images" [formControl]="images" id="images">
          </div>
          <div>
              <label  class="form-label" for="">Description: </label>
              <textarea class="form-control" type="text" name="description" [formControl]="description" id="description"></textarea>
          </div>
      </div>
        <button class="btn btn-danger m-2" (click)="deleteParking()" >Delete</button>
        <button class="btn btn-secondary m-2"  (click)="updateParking()" >Update</button>
    </div>
</div>

 