<header>
    <nav class="navbar navbar-light bg-light pt-2">
        <span class="navbar-brand mb-0 h1">Nombre Aquí</span>
    </nav>
</header>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Parking Dasboard</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <div class="type">
                    <h5>Type</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Public</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Private</label>
                </div>
                </div>
            </li>
            <li class="active">
                <div class="type">
                    <h5>Amenities</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"> Surveillance Cam </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"> Apartment </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"> Private Parking Lot </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"> Parking with ceiling </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"> Ground Floor </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"> Battery-shaped places </label>
                    </div>
                </div>
            </li>
            <li class="active">
                <div class="type">
                    <h5>Price</h5>
                    <div class="row">
                        <div class="col-5">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Min $" aria-label="Min $" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-1"> - </div>
                        <div class="col-5">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Max $" aria-label="Max $" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <app-nav></app-nav>
        <div class="parkingsGrid">
            <app-parking *ngFor="let parking of parkings; let i = index" [parking]="parking" [id]="i" ></app-parking>
        </div>
</div>


 